<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,styles)">
  <meta charset="UTF-8">
  <title th:replace="${title}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" type="text/css"  href="https://cdn.bootcdn.net/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/message/message.css}" href="../../static/css/message/message.css" />
  <th:block th:replace="${links}" />
  <th:block th:replace="${styles}" />
</head>
<body>
</body>
</html>